<%= form_with model: comment, url: post_comments_path(:post) do |f| %>
    <div>
        <%= f.hidden_field :user_id, value: current_user.id %>
        Text: <%= f.text_area :body %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>
