<% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, size: '200' %>
<% end %>
<h3>
    <strong><%= @user.name %></strong>
</h3>
<% @user.posts.each do |post| %>
    <% if post.images.attached? %>
        <% post.images.each do |image| %>
            <%= image_tag image %>
            <%= link_to 'Удалить фото', delete_image_path(image.id), method: :delete %><br>
        <% end %>
        <%= button_to 'Like', post_likes_path(post), method: :post  %>
        <p><%= post.likes.count %></p>
    <% end %>


<!-- <%= link_to 'Коментарий', '#', id: 'toggle_comments' %> -->
<div id="comments_container">
    <%= render 'comments/form', comment: Comment.new(post_id: post.id) %>
</div>

<% end %>

<% if current_user && current_user == @user %>
    <%= link_to  "Добавить пост", new_post_path %>
<% end %>