<p id="notice"><%= notice %></p>

<%= form_with model: @post, local: true do |form| %>
<% if @post.errors.any? %>
    <div class="errors">
        Total errors: <%= @post.errors.count %>
        <ul>
            <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>
    <div class="field">
        <%= form.label :Галерея %><br />
        <%= form.file_field :images, multiple:true %>
        <%= form.hidden_field :user_id, value: current_user %>
    </div>
    <p>
        <%= form.submit %>
    </p>
<% end %>