<% @posts.each do |post| %>
    <% if post.images.attached? %>
        <% post.images.each do |image| %>
            <%= link_to post.user.name, user_path(post.user) %><br>
                <%= image_tag image, size: 300 %>
                <% pre_like = post.likes.find { |like| like.user == current_user} %>
                <% if pre_like %>
                    <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete if user_signed_in?%>
                <% else %>
                    <%= button_to 'Like', post_likes_path(post), method: :post if user_signed_in? %>
                <% end %>
            Like:<%= post.likes.size %><br>
        <% end %>
    <% end %>
<% end %>
