<h1>Пост
    <%= @post.user.name %><br>
</h1>
<% @post.images.each do |picture| %>
    <%= image_tag picture %>
    <%= link_to 'Удалить фото', delete_image_path(picture.id), method: :delete %><br>
    <%= button_to 'Like', post_likes_path(@post), method: :post  %>
<% end %>

<p><%= @post.likes.count %> </p>
<%= link_to 'Удалить пост', post_url, method: :delete %>
